a:link, a:visited {
    background-color: #8f9cea;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 10px


}


a:hover, a:active {
    background-color: #8f9cea;
border :15px;
    padding: 14px 25px;
}
