<h1>Atlanta</h1>
<p>
  Scale : 0 - 10
</p>
<br>
<br>
{{housingAtlanta.name}}
{{housingAtlanta.score_out_of_10}}
<br>
{{costOfLivingAtlanta.name}}
{{costOfLivingAtlanta.score_out_of_10}}
<br>
<!-- write a function that will decrease the amount of decimals.
// se--->
{{startupsAtlanta.name}}
{{startupsAtlanta.score_out_of_10}}
<!-- write a function that will not be repeated  you are writing to much code.
// se--->
<br>
{{ventureCapitalAtlanta.name}}
{{ventureCapitalAtlanta.score_out_of_10}}


<br>
<br>
<img src="/pics/atl.jpg" alt="" />
<br>
<section>

<form>
  Was this helpful?
  <input type="radio" ng-model="myVar" value="yes">Yes
  <input type="radio" ng-model="myVar" value="no">No
</form>

<div ng-switch="myVar">
  <div ng-switch-when="yes">
     <h1>Yes</h1>
     <p>That's great!</p>
  </div>
</div>
  <div <div ng-switch="myVar">
  <div ng-switch-when="no">
     <h1>No</h1>
     <p>We will work on it!</p>
  </div>
</div>

</section>
<br>
