<h1>Cape Town</h1>
<p>
  Scale : 0 - 10
</p>
<br>
<br>
{{housingCapeTown.name}}
{{housingCapeTown.score_out_of_10}}
<br>
{{costOfLivingTokyo.name}}
{{costOfLivingTokyo.score_out_of_10}}
<br>
<!-- write a function that will decrease the amount of decimals.
// se--->
{{startupsTokyo.name}}
{{startupsTokyo.score_out_of_10}}
<!-- write a function that will not be repeated  you are writing to much code.
// se--->
<br>
{{ventureCapitalTokyo.name}}
{{ventureCapitalTokyo.score_out_of_10}}
<br>
<br>
<img src="/pics/capetownpic.jpg" alt="" />
<br>
<section>

<form>
  Was this helpful?
  <input type="radio" ng-model="myVar" value="yes">Yes
  <input type="radio" ng-model="myVar" value="no">No
</form>

<div ng-switch="myVar">
  <div ng-switch-when="yes">
     <h1>Yes</h1>
     <p>That's great!</p>
  </div>
</div>
  <div <div ng-switch="myVar">
  <div ng-switch-when="no">
     <h1>No</h1>
     <p>We will work on it!</p>
  </div>
</div>

</section>
<br>
